<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<context:component-scan base-package="com.fastcampus.ch3">
		<!-- SpringDiTest에 있는 @Component만 등록되도록 -->
		<context:exclude-filter type="regex" expression="com.fastcampus.ch3.diCopy*.*"/>
	</context:component-scan>
	<!-- @Autowired을 사용하기 위해 -->
	<!-- 지금은 context:component-scan때문에 생략 가능 -->
	<context:annotation-config/>
</beans>